body{
    background-color: #01172F;
}
header{
    height: 50px;
}
footer{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
    border-radius: 10px;
}
footer ul{
    display: flex;
    flex-direction: row;
    height: 50px;
    list-style-type: none;
}
.facebook{
    width: 35%;
}
.instagram{
    margin-left: 31%;
}

/*info*/
.h1-info{
    background-color: black;
    margin: 4% 25%;
    border-radius: 10px;
    text-align: center;
}
.p-titulo{
    position: relative;
    left: 25%;
    width: 50%;
    text-align: center;
}
.sub-h2{
    background-color: black;
    width: 25%;
    height: 6%;
    border-radius: 10px;
    margin: 5% 0%;
    text-align: center;
}
.sub-p{
    width: 30%;
}
.sub-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.sub-img{
    position: relative;
    left: 14%;
    border-radius: 10px;
    margin: 2% 0%;
}

/*tipos-cubos*/
.tcubos{
    background-color: black;
    margin: 4% 30%;
    border-radius: 10px;
    text-align: center;
}
.varcubos{
    background-color: black;
    text-align: center;
    margin: 4% 25%;
    border-radius: 10px;
}
#gruposcubos{
    background-color: black;
    width: 20%;
    height: 37%;
    margin: 3% 0%;
    border-radius: 10px;
}
.todos-los-cubos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5% 5%;
    width: 100%;
}
.todos-los-cubos img{
    position: relative;
    left: 20%;
    border-radius: 10px;
}
.info-tcubos{
    background-color: black;
    border-radius: 10px;
    width: 35%;
    overflow: hidden;
    height: 290px;
    overflow: hidden;
}

/*metodo-fridrich*/
.main-mf h2{
    background-color: black;
    display: flex;
    justify-content: center;
    margin: 40px 400px;
    border-radius: 10px;
}
.texto-inicio{
    text-align: center;
    margin: 0px 200px;
}
.lista-pasos{
    background-color: black;
    width: 300px;
    height: 100px;
    border-radius: 10px;
}
.subtitulos{
    background-color: black;
    text-align: center;
    width: 300px;
    height: 65px;
    border-radius: 10px;
    margin: 50px 0px;
}
.posicion-de-los-pasos{
    display: flex;
    flex-direction: row;
}
.explicacion-pasos{
    width: 400px;
    height: 140px;
    margin: 0px 20px;
}
.videos-pasos{
    position: relative;
    left: 400px;
}
.listas{
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
}
.listas li{
    width: 300px;
    font-size: small;
}
.listas-oll .listas li{
    width: 400px;
    height: 104;
    font-size: small;
}
p,h1,h2,h3,h4,li{
    color: beige;
}

@media (max-width:576px){
    /*info*/
    .sub-div{
        display: flex;
        flex-direction: column;
    }
    .sub-p{
        width: 90%;
    }
    .p-titulo{
        width: 80%;
        left: 10%;
    }
    .sub-img{
        position: relative;
        left: 10%;
        margin: 10% 0%;
        width: 80%;
    }
    /*tipos de cubos*/
    .tcubos{
        margin: 4% 5%;
    }
    .varcubos{
        margin: 4% 10%;
    }
    #gruposcubos{
        width: 50%;
    }
    .todos-los-cubos{
        display: flex;
        flex-direction: column;
        margin: 5% 5%;
    }
    .todos-los-cubos img{
        position: relative;
        left: 22%;
        width: 50%;
        margin: 5% 0%;
    }
    .info-tcubos{
        width: 90%;
    }
    .subtitulos-tcubos{
        text-align: center;
        margin: 4% 0%;
    }
}