/*header*/
.inicio-resto{
    text-align: right;
}
.inicio-a{
    margin: 0% 3%;
    position: relative;
    top: 15px;
}
/*footer*/
footer ul{
    display: flex;
    flex-direction: row;
    height: 50px;
    list-style-type: none;
}
.facebook{
    width: 35%;
}
.instagram{
    margin-left: 31%;
}
/*index*/
#body-index{
    background-color: #01172F;
    display: grid;
    grid-template-areas:
    "header header"
    "seccion1 seccion2"
    "seccion3 seccion3"
    "footer footer";
    grid-template-rows: 50px 700px 500px 50px;
    grid-template-columns: 50% 50%;
}
header{
    grid-area: header;
}
footer{
    grid-area: footer;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
    border-radius: 10px;
}
section#seccion1{
    grid-area: seccion1;
    background-color: black;
    margin: 5% 17%;
    height: 90%;
    width: 68%;
    border-radius: 20px;
}
.titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.cubo-posicion{
    display: flex;
    justify-content: center;
}
.imagen-cubo{
    border-radius: 15%;
    width: 65%;
    height: 50%;
}
.info{
    text-align: start;
    margin: 5%;
    overflow: hidden;
    height: 50%;
    overflow: hidden;
}

section#seccion2{
    grid-area: seccion2;
    background-color: black;
    margin: 5% 17%;
    height: 90%;
    width: 68%;
    border-radius: 20px;
}
.records{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.video{
    display: flex;
    justify-content: center;
}
.seccion2 h3{
    margin: 2%;
}
.link{
    margin: 4%;
}

section#seccion3{
    grid-area: seccion3;
    background-color: black;
    border-radius: 20px;
    width: 78%;
    height: 95%;
    margin: 0% 11%;
}
.ol{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    text-align: center;
}
.listas{
    width: 20%;
    height: 50%;
    margin: 3%;
}
.imagenes{
    width: 50%;
    height: 50%;
    border-radius: 20%;
}
#seccion3 h3{
    text-align: center;
}

/*tutoriales*/
#body-tutoriales{
    background-color: #01172F;
    display: grid;
    grid-template-areas: 
    "header header header"
    "titulo titulo titulo"
    "tuto1 tuto2 tuto3"
    "tuto4 tuto5 tuto6"
    "comentario comentario comentario"
    "footer footer footer";
    grid-template-rows: 50px 100px 250px 250px 100px 50px;
    grid-template-columns: 1fr 1fr 1fr;
}
section#titulo{
    grid-area: titulo;
    background-color: black;
    margin: 1% 20%;
    border-radius: 10px;
}
section#tuto1{
    grid-area: tuto1;
    display: flex;
    flex-direction: column;
}
section#tuto2{
    grid-area: tuto2;
    display: flex;
    flex-direction: column;
}
section#tuto3{
    grid-area: tuto3;
    display: flex;
    flex-direction: column;
}
section#tuto4{
    grid-area: tuto4;
    display: flex;
    flex-direction: column;
}
section#tuto5{
    grid-area: tuto5;
    display: flex;
    flex-direction: column;
}
section#tuto6{
    grid-area: tuto6;
    display: flex;
    flex-direction: column;
}
section#comentario{
    grid-area: comentario;
    background-color: black;
    margin: 1.5% 10%;
    border-radius: 10px;
}

.centrar-texto{
    text-align: center;
    margin: 2% 0%;
}
.videos{
    margin: 0% 15%;
}
p,h1,h2,h3,h4,h5,li{
    color: beige;
}
@media (max-width:576px){
    /*index*/
    #body-index{
        display: grid;
        grid-template-areas:
        "header"
        "seccion1"
        "seccion2"
        "seccion3"
        "footer";
        grid-template-rows: 50px 700px 700px 1100px 50px;
        grid-template-columns: 100%;
    }
    .info{
        overflow: hidden;
        height: 38%;
        overflow: hidden;
    }
    .imagen-cubo{
        width: 80%;
    }
    .imagenes{
        width: 90px;
        height: 90px;
    }
    .listas{
        width: 80%;
        margin: 3% 33%;
    }

    /*tutoriales*/
    #body-tutoriales{
        display: grid;
        grid-template-areas: 
        "header"
        "titulo"
        "tuto1"
        "tuto2"
        "tuto3"
        "tuto4"
        "tuto5"
        "tuto6"
        "comentario"
        "footer";
        grid-template-rows: 50px 100px 400px 400px 400px 400px 400px 400px 100px 50px;
        grid-template-columns: 100%;
    }
    section#titulo{
        margin: 2% 10%;
    }
    section#comentario{
        margin: 1.5% 0%;
    }
}